@page
@model RegisterModel
@using ECommerceProject.Models
@{
    ViewData["Title"] = "Register";
}

<head>
    <link href="~/css/Identity/register.css" rel="stylesheet" />
</head>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 style="text-align:center">Kayıt Ol</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Name" class="form-control" placeholder="Ad" id="AdInput"/>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Surname" class="form-control" placeholder="Soyad" id="SoyadInput"/>
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" id="EmailInput"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Telefon Numarası" id="TelefonInput"/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.City" class="form-control" placeholder="Şehir" id="SehirInput"/>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.District" class="form-control" placeholder="Semt" id="SemtInput"/>
                <span asp-validation-for="Input.District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.PostCode" class="form-control" placeholder="Posta Kodu" id="PostaKoduInput"/>
                <span asp-validation-for="Input.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Address" class="form-control" placeholder="Adres" id="AdresInput"/>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" placeholder="Şifre" id="SifreInput"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Şifre Tekrar" id="SifreTekrarInput"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if (User.IsInRole(RoleOrderStatusSessionOperations.Role_Admin))
            {
                <div class="form-group">
                    @Html.DropDownListFor(m => m.Input.Role, Model.Input.RoleList, "Rol Seç", new { @class = "form-control" })
                </div>
            }
            <button type="submit" class="form-control" id="SubmitButton"><i class="bi bi-person-plus-fill" id="KayitOl"></i>Kayıt Ol</button>
        </form>
        <br />
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>                          
                                <button type="submit" name="provider" value="@Model.ExternalLogins[0].Name" title="@Model.ExternalLogins[0].DisplayName hesabınızı kullanarak giriş yapın" id="FacebookButton"><i class="bi bi-facebook"></i></button>     
                                <button type="submit" name="provider" value="@Model.ExternalLogins[1].Name" title="@Model.ExternalLogins[1].DisplayName hesabınızı kullanarak giriş yapın" id="GoogleButton"><i class="bi bi-google"></i></button>
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
