@model ECommerceProject.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/Product/deleteProduct.css" rel="stylesheet" />
</head>

<div class="col-md-2">
</div>
<center>
    <div class="col-md-8">
        <p id="Text">Bu ürünü silmek istediğinizden emin misiniz?</p>
        <dl class="row">
            <dt class="col-sm-2">
            </dt>
            <dt class="col-sm-3">
                Resim
            </dt>
            <dd class="col-sm-7">
                <div class="col-md-4">
                    @if (Model.Image == null)
                    {
                        <img src="~/images/GoruntuYok.jpg" />
                    }
                    else
                    {
                        <img src="@Model.Image" width="100" height="100" />
                    }
                </div>
            </dd>
            <dt class="col-sm-2">
            </dt>
            <dt class="col-sm-3">
                Başlık
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
            </dt>
            <dt class="col-sm-3">
                Kategori
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
            <dt class="col-sm-2">
            </dt>
            <dt class="col-sm-3">
                Açıklama
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
            </dt>
            <dt class="col-sm-3">
                Fiyat
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
            </dt>
            <dt class="col-sm-3">
                Ana Sayfa
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.IsHome)
            </dd>
            <dt class="col-sm-2">
            </dt>
            <dt class="col-sm-3">
                Stok
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.IsStock)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <i class="bi bi-trash"></i>
            <input type="submit" value="Kategoriyi Sil" id="DeleteProduct" />
            <i class="bi bi-reply-fill"></i>
            <a asp-action="Index" id="BackToProductList">Ürün Listesine Dön</a>
        </form>
    </div>
</center>
<div class="col-md-2">
</div>

